<div>
  <form method="get" action="/login">

    <label>Enter Your User Name:
      <input type="text" name="user">
    </label>

    <% if @wrong == "true" %>
      <p>Entered in the wrong password:</p>
    <% end %>
    <label>
      <input type="password" name="password">
    </label>

    <input type="submit" value="Login">

  </form>
</div>

<div>
  <form method="get" action="/users/new">
    <button type="submit">Create Account</button>
  </form>
  <!-- <a class="black" href="/users/new">Create Account</a> -->
</div>

<div>
  <form method="get" action="/anonymous">
    <button type="submit">Continue Without Loging In</button>
  </form>
  <!-- <a class="black" href="/anonymous">Continue Without Loging In</a> -->
</div>


