<div class="main">
  <div class="row">
    <a href="/categories/Action">
      <div class="cat-wrapper">
        <p>Action</p>
        <div class="action-back">
          <img src="/images/Action.jpg" alt="Action">
        </div>
      </div>
    </a>
    <a href="/categories/Action-Adventure">
      <div class="cat-wrapper">
        <p>Action Adventure</p>
        <img src="/images/Action_Adventure.jpg" alt="Action Adventure">
      </div>
    </a>
    <a href="/categories/Adventure">
      <div class="cat-wrapper">
        <p>Adventure</p>
        <img src="/images/Adventure.jpg" alt="Adventure">
      </div>
    </a>
  </div>
  <div class="row">
    <a href="/categories/Driving">
      <div class="cat-wrapper">
        <p>Driving</p>
        <img src="/images/Driving.jpg" alt="Driving">
      </div>
    </a>
    <a href="/categories/Hardware">
      <div class="cat-wrapper">
        <p>Hardware</p>
        <img src="/images/Hardware.jpg" alt="Hardware" >
      </div>
    </a>
    <a href="/categories/Puzzle">
      <div class="cat-wrapper">
        <p>Puzzle</p>
        <img src="/images/Puzzle.jpg" alt="Puzzle">
      </div>
    </a>
  </div>
  <div class="row">
    <a href="/categories/Upcoming">
      <div class="cat-wrapper">
        <p>Upcoming</p>
        <img src="/images/Upcoming.jpg" alt="Upcoming">
      </div>
    </a>
    <a href="/categories/RPG">
      <div class="cat-wrapper">
        <p>RPG</p>
        <img src="/images/RPG.jpg" alt="RPG">
      </div>
    </a>
    <a href="/categories/Shooter">
      <div class="cat-wrapper">
        <p>Shooter</p>
        <img src="/images/Shooter.jpg" alt="Shooter">
      </div>
    </a>
  </div>
  <div class="row">
    <a href="/categories/Simulation">
      <div class="cat-wrapper">
        <p>Simulation</p>
        <img src="/images/Simulation.jpg" alt="Simulation">
      </div>
    </a>
    <a href="/categories/Sports">
      <div class="cat-wrapper">
        <p>Sports</p>
        <img src="/images/Sports.bmp" alt="Sports">
      </div>
    </a>
    <a href="/categories/Strategy">
      <div class="cat-wrapper">
        <p>Strategy</p>
        <img src="/images/Strategy.jpg" alt="Strategy">
      </div>
    </a>
  </div>
</div>
