
<a href="/categories/Action"><img src="http://assets.vg247.com/current//2014/06/street_fighter.jpg" alt="Action"></a>
<a href="/categories/Action-Adventure"><img src="http://static9.cdn.ubi.com/resource/en-GB/game/assassins-creed/ac/ACR_announce_unity_163122.jpg" alt="Action Adventure"></a>
<a href="/categories/Adventure"><img src="http://i.nextmedia.com.au/News/minecraft%20skull.jpg" alt="Adventure"></a>
<a href="/categories/Driving"><img src="http://media.2oceansvibe.com/wp-content/uploads/2011/07/driving-game-screenshot1.jpg" alt="Driving"></a>
<a href="/categories/Hardware"><img src="http://2.bp.blogspot.com/-bjS_I0ifyNc/UnT6tRn-MZI/AAAAAAAAFJk/wilwvnUaklE/s1600/xbox-ps4-wiiu-composite.jpg" alt="Hardware"></a>
<a href="/categories/Puzzle"><img src="http://consumermediallc.files.wordpress.com/2014/09/tetriswhat.jpg" alt="Puzzle"></a>
<a href="/categories/Upcoming"><img src="http://jumpbouncycastles.ie/More%20games.jpg" alt="Upcoming"></a>
<a href="/categories/RPG"><img src="http://media.gamerevolution.com/images/misc/dark-souls-2-6-3-2013(1)(1).jpg" alt="RPG"></a>
<a href="/categories/Shooter"><img src="http://www.callofduty.com/content/dam/atvi/callofduty/advanced/game-features/01/keyart-comp-01.jpg" alt="Shooter"></a>
<a href="/categories/Simulation"><img src="http://www.thinkcomputers.org/articles/flight-sim.jpg" alt="Simulation"></a>
<a href="/categories/Sports"><img src="http://www.sfgate.com/blogs/images/sfgate/techchron/2007/08/13/untitled500x281.bmp" alt="Sports"></a>
<a href="/categories/Strategy"><img src="http://godlesspaladin.files.wordpress.com/2010/07/starcraft2-2.jpg" alt="Strategy"></a>
