
<form method="post" action="/categories/<%= @categories %>">

  <label>Enter Your Title
    <input type="text" name="title">
  </label>

  <label>Enter Your Comment
    <textarea rows="4" cols="50" name="topic">
    </textarea>
  </label>

  <input type="submit" value="Enter Comment">

</form>
