
<form method="post" action="/users/new">
  <% if @name == "true" %>
    <p>User Name Already Exists</p>
  <% end %>
  <label>Enter a user name:
    <input class="block" type="text" name="user" required>
  </label>

  <label>Enter a password:
    <input class="block" type="password" name="password" required>
  </label>

  <label>Enter a thumbnail image:
    <input class="block" type="text" name="thumbnail">
  </label>

  <input class="block" type="submit" value="Create">

</form>
